<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Company</title>
	
</head>
<body>

<!-- Navigation -->
<div>
<app-navigation></app-navigation>

<!--- Image Slider -->
<app-image-slider></app-image-slider>


<app-jumbotron></app-jumbotron>

<app-team-section></app-team-section>

<app-philosophy></app-philosophy>

<app-social></app-social>
<!--- Footer -->
<app-footer></app-footer>
</div>
</body>
</html>





